<!doctype html>
<html>
	<body>
		<center>
		<header> <h1> Home </h1> </header>
		<header> <h1>Suchitra Nagarajan </h1> </header>
		<header> <h1> 1001666051</h1> </header>
            <header> <h1> Quiz 3 old</h1> </header>
		<br> <br>
		<h1> This Webpage consist of Census records</h1>
		<br>
		<h2><a href = "/list">Retrive Database Details</a></h2>
		<h2><a href = "/records">Random Queries with id </a></h2>
            <h2><a href = "/records">Random Queries with id(without redish cache) </a></h2>
        </center>
	</body>
</html>