<!doctype html>
<html>
	<body>

		<center>

		<header> <h1> Records </h1> </header>
		<header> <h1> Charan Venkatesan </h1> </header>
		<header> <h1> 1001626250</h1> </header>
            <header> <h1> Quiz 3 old</h1> </header>
		<br> <br>
		<h1> </h1>
		<br>
		<label><h2>Display the no of records with random id:</h2></label><br>
        <form action = "{{ url_for('select1') }}" method = "POST">
		  <label>Enter Loop:</label>
          <input type = "text"                 
				 name = "loop"
                  />
            <label>Enter First letter:</label>
          <input type = "text"
				 name = "char"
                  />
		  <br>
		  <br>
				 
		  <input type = "submit" value = "submit" /><br>	
		  </form>
        </center>
    </body>
</html>
        